---
import { site } from "../config/site";
import "../styles/global.css";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={site.defaultDescription} />
    <title>{site.siteTitle}</title>
  </head>
  <body>
    <main>
      <h1>{site.siteTitle}</h1>
      <p class="hero">{site.hero}</p>
      <p>{site.heroSignature}</p>
      <p>{site.slogan}</p>
    </main>
  </body>
</html>
